#parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-image: url(../img/img_login.png);
    background-size: cover;
}
#opciones{
    height: 100%;
    width: 25%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    
}
#cuadro_de_resultados{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#estadisticas{
    height: 25%;
    width: 100%;
    display: flex;
}
#resultados{
    height: 75%;
    width: 100%;
    display: flex;
}
#mostrar_datos{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#carta{
    height: 40%;
    width: 60%;
}
#boton_sobre{
    height: 50%;
    width: 70%;
    background-image: url(../img/sobre.jpg);
    background-size: 100% 100%;
}
#cuadros_estadisticas{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#opciones_arriba{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    color: white;
}
#opciones_medio{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    align-items: center;
}
#opciones_abajo{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    align-items: center;
}
#salir{
    height: 30%;
    width: 100%;
}
#mensaje_bienvenida{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}