<div id="parent">
  <div id="opciones">
    <div id="opciones_arriba">
      <div id="salir">
        <button class="btn btn-danger" routerLink="/">Log Out</button>
      </div>
      <div id="mensaje_bienvenida">
        <label class="btn btn-success"> Bienvenido al album mundialista </label>
      </div>
    </div>
    <div id="opciones_medio">
      <label class="btn btn-success"> Abrir Sobre </label>
      <button id="boton_sobre" (click)="abrir_sobre()"></button>
    </div>
    <div id="opciones_abajo">
      <button class="btn btn-success" [routerLink]="['/pag',correo]"> Ver album </button>
    </div>
  </div>

  <div id="cuadro_de_resultados">
    <div id="estadisticas">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Total de postales obtenidas</th>
            <th scope="col">Total de postales unicas</th>
            <th scope="col">Total de postales repetidas</th>
            <th scope="col">Porcentaje completod el album</th>
            <th scope="col">Total de equipo completos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ obtener_cantidad_total_potales() }}</td>
            <td>{{ obtener_cantidad_potales_unicas() }}</td>
            <th>{{ obtener_cantidad_potales_repetidas() }}</th>
            <td>{{ obtener_porcentaje_album_completo() }}</td>
            <td>{{ obtener_cantidad_equipos_completos() }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="resultados"> 
      <div *ngFor="let postal of lista_postales_del_sobre" id="mostrar_datos">
        <div id="carta">
          <img src="{{postal}}" width="100%" height="100%">
        </div>
      </div>
    </div>
  </div>
  
</div>

