#parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgb(121, 14, 36); 
}
#menu_selecciones{
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.5%;
}
#barra_paises{
    height: 100%;
    width: 100%;
    background-color: rgb(136, 168, 184);
}
#barra_arriba{
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#centro{
    height: 84%;
    width: 100%;
    background-size: cover;
}
#barra_abajo{
    height: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tamaño_imagen{
    height: 40px;
    width: 40px;
}
/*                                                                         /\
################################################### Barras de selecciones  || ######################################################
*/                                                                        

#pagina{
    display: flex;
	position: absolute;
	width: 96%;
	height: 80%;
    top: 8%;
}

#russia{
    background-image: url(../img/paises/russia.png);
    background-size: cover;
}
#egypto{
    background-image: url(../img/paises/egypto.png);
    background-size: cover;
}
#uruguay{
    background-image: url(../img/paises/uruguay.png);
    background-size: cover;
}
#arabia_saudita{
    background-image: url(../img/paises/arabia_saudita.png);
    background-size: cover;
}
#espana{
    background-image: url(../img/paises/espana.png);
    background-size: cover;
}
#portugal{
    background-image: url(../img/paises/portugal.png);
    background-size: cover;
}
#iran{
    background-image: url(../img/paises/iran.png);
    background-size: cover;
}
#marruecos{
    background-image: url(../img/paises/marruecos.png);
    background-size: cover;
}
#francia{
    background-image: url(../img/paises/francia.png);
    background-size: cover;
}
#dinamarca{
    background-image: url(../img/paises/dinamarca.png);
    background-size: cover;
}
#peru{
    background-image: url(../img/paises/peru.png);
    background-size: cover;
}
#australia{
    background-image: url(../img/paises/australia.png);
    background-size: cover;
}
#croacia{
    background-image: url(../img/paises/croacia.png);
    background-size: cover;
}
#argentina{
    background-image: url(../img/paises/argentina.png);
    background-size: cover;
}
#nigeria{
    background-image: url(../img/paises/nigeria.png);
    background-size: cover;
}
#islandia{
    background-image: url(../img/paises/islandia.png);
    background-size: cover;
}


#brasil{
    background-image: url(../img/paises/brasil.png);
    background-size: cover;
}
#suiza{
    background-image: url(../img/paises/suiza.png);
    background-size: cover;
}#serbia{
    background-image: url(../img/paises/serbia.png);
    background-size: cover;
}
#costa_rica{
    background-image: url(../img/paises/costa_rica.png);
    background-size: cover;
}
#mexico{
    background-image: url(../img/paises/mexico.png);
    background-size: cover;
}
#alemania{
    background-image: url(../img/paises/alemania.png);
    background-size: cover;
}
#suecia{
    background-image: url(../img/paises/suecia.png);
    background-size: cover;
}
#sur_korea{
    background-image: url(../img/paises/sur_korea.png);
    background-size: cover;
}
#inglaterra{
    background-image: url(../img/paises/inglaterra.png);
    background-size: cover;
}
#belgica{
    background-image: url(../img/paises/belgica.png);
    background-size: cover;
}
#tunes{
    background-image: url(../img/paises/tunes.png);
    background-size: cover;
}
#panama{
    background-image: url(../img/paises/panama.png);
    background-size: cover;
}
#japon{
    background-image: url(../img/paises/japon.png);
    background-size: cover;
}
#senegal{
    background-image: url(../img/paises/senegal.png);
    background-size: cover;
}
#colombia{
    background-image: url(../img/paises/colombia.png);
    background-size: cover;
}
#polonia{
    background-image: url(../img/paises/polonia.png);
    background-size: cover;
}