<div id="parent">
    <div id="barra_arriba">
        <div id="barra_paises">
            <div id="menu_selecciones">
                <button class="btn btn-success" [routerLink]="['/principal',correo]">Home</button>
                <div *ngFor="let icono of lista_iconos_paises_arriba">
                    <div class="tamaño_imagen" id={{icono}} (click)="pais_seleccionado_barra_arriba(icono)"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="centro">
        <img src="{{pagina_pais_seleccionado().ruta}}" height="100%" width="100%">
        <div id="pagina">
            <section>
                <div *ngFor="let postal of pagina_pais_seleccionado().lista_postales">
                    <div [ngStyle]="propiedades_de_las_cartas()">
                        <div *ngIf="postal.en_posesion">
                            <img [ngStyle]="mostar_imagen(postal.ruta)">
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
        {{obtener_rangos_pagina()}}
    </div>

    <div id="barra_abajo">
        <div id="barra_paises">
            <div id="menu_selecciones">
                <div *ngFor="let icono of lista_iconos_paises_abajo">
                    <div class="tamaño_imagen" id={{icono}} (click)="pais_seleccionado_barra_abajo(icono)"> </div>
                </div>
                {{ porcentaje_pagina() }}  %
            </div>
            
        </div>
       
    </div>
</div>
