#parent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
}
#login{
    width:95%;
    height: 8%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1%; 
}
#vista_boton{
    width:5%;
    height: 8%; 
}
#registro{
    width: 62%;
    height: 50%;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    margin-top: 8%; 
}
#regis{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 40%;
    flex-direction: column;
    border: 3px solid red;
    outline: 3px solid red;
    outline-offset: 5px;
    margin-top: 1%;
}
input {
    height: 20px;
    margin: 10px;
}
label{
    font-size: 100%;
    background-size: 10%; 
    margin: 0.5%;  
    color: red;
}

