
<div id="parent">
  <div id="login">
    <label>Login:</label>
    <input class="rounded" autofocus type="name" name="name" placeholder="Correo" [(ngModel)]="correo">
    <input class="rounded"type="password" name="pass" placeholder="Contraseña" [(ngModel)]="contra">
    <div id="vista_boton">
      <a *ngIf="loguearse()">
        <button (click)="loguearse()" [routerLink]="['principal',usuario.correo]" class="btn btn-dark" >Login</button>
      </a>
      <!--<a *ngIf="loguearse(); else templateName">
        <button (click)="loguearse()" class="btn btn-dark" >Login</button>
      /a>!-->
    </div>
  </div> 
  <div id="registro">
    <div id="regis"> 
      <label> Registrar </label>
      <input autofocus class="rounded" type="text" placeholder="Nombre" [(ngModel)]="usuario.nombre"> 
      <input class="rounded" type="email" name="email" placeholder="Correo"  [(ngModel)]="usuario.correo">
      <input class="rounded" type="password" placeholder="Contraseña"  [(ngModel)]="usuario.contra">
      <button type="button" class="btn btn-success"  (click)="registrar_usuario()">Sign In</button>
    </div>
  </div>  
</div>