.appLogin {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-self: flex-end;
    position: fixed;
    background-image: url(./img/img_login.png);
    background-size: cover;
}

.pagSelecciones{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
}