<!--The content below is only a placeholder and can be replaced.-->
<!--  -->
    <app-login class= "appLogin"></app-login> 
<!-- 
    <app-pag-seleccion class="pagSelecciones"></app-pag-seleccion>-->
<router-outlet></router-outlet>